@use 'src/common/styles/variables/colors';

.input-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    color: colors.$black;
    background-color: colors.$white;
    border: solid 1px colors.$grey-14;
    border-radius: 0.25em;
    overflow: hidden;
}

.input-container--error {
    background-color: var(--error-primary-color);
    border: solid 1px var(--error-secondary-color);
}
