@use 'src/common/styles/variables/colors';

.layout {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: colors.$white;
}

.layout-header {
    display: flex;
    flex-direction: column;
}

.main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 2em;
}

.layout-footer {
    display: flex;
    flex-direction: column;
}
