@font-face {
    font-family: 'Playfair Display';
    src: url('./playfairdisplay/PlayfairDisplay-VariableFont_wght.ttf')
        format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('./playfairdisplay/PlayfairDisplay-Italic-VariableFont_wght.ttf')
        format('truetype');
    font-style: italic;
}
