@use 'src/common/styles/mixins/breakpoints';
@use 'src/common/styles/variables/colors';

.content {
    grid-area: _content;
    min-height: calc(100vh - var(--docs-header-height));

    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
}

.content main {
    padding: 2em;
}

@include breakpoints.select('md') {
    .content main {
        padding: 1em;
    }
}
