.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
}

.logo svg {
    fill: currentColor;
}

.logo-content {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    gap: 0.25em;
    font-weight: 600;
    text-transform: uppercase;
}

.logo-content__brand {
    font-size: 2rem;
    letter-spacing: 0.125ch;
}

.logo-content__text {
    letter-spacing: normal;
    font-weight: 400;
    font-size: 1.2rem;
}
