.update-email {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1em;
}

.current-data {
    display: flex;
    flex-direction: column;
}
