$black: hsl(0, 0%, 0%, 1);

$blue-1: hsla(214, 100%, 34%, 1);
$blue-2: hsla(214, 100%, 38%, 1);
$blue-3: hsla(214, 100%, 42%, 1);
$blue-4: hsla(214, 100%, 46%, 1);
$blue-5: hsla(214, 100%, 50%, 1);
$blue-6: hsla(214, 100%, 54%, 1);
$blue-7: hsla(214, 100%, 58%, 1);
$blue-8: hsla(214, 100%, 62%, 1);
$blue-9: hsla(214, 100%, 64%, 1);
$blue-10: hsla(214, 100%, 68%, 1);

$green-1: hsla(128, 42%, 18%, 1);
$green-2: hsla(128, 44%, 22%, 1);
$green-3: hsla(128, 46%, 26%, 1);
$green-4: hsla(128, 48%, 30%, 1);
$green-5: hsla(128, 50%, 34%, 1);
$green-6: hsla(128, 52%, 38%, 1);
$green-7: hsla(128, 54%, 40%, 1);
$green-8: hsla(128, 56%, 44%, 1);
$green-9: hsla(128, 58%, 48%, 1);
$green-10: hsla(128, 60%, 50%, 1);
$green-11: hsla(128, 64%, 54%, 1);
$green-12: hsla(128, 68%, 58%, 1);
$green-13: hsla(128, 72%, 62%, 1);
$green-14: hsla(128, 74%, 66%, 1);
$green-15: hsla(128, 78%, 70%, 1);
$green-16: hsla(128, 82%, 72%, 1);
$green-17: hsla(128, 86%, 76%, 1);
$green-18: hsla(128, 90%, 80%, 1);
$green-19: hsla(128, 94%, 84%, 1);
$green-20: hsla(128, 96%, 88%, 1);

$grey-1: hsla(0, 0%, 5%, 1);
$grey-2: hsla(0, 0%, 10%, 1);
$grey-3: hsla(0, 0%, 15%, 1);
$grey-4: hsla(0, 0%, 20%, 1);
$grey-5: hsla(0, 0%, 25%, 1);
$grey-6: hsla(0, 0%, 30%, 1);
$grey-7: hsla(0, 0%, 35%, 1);
$grey-8: hsla(0, 0%, 40%, 1);
$grey-9: hsla(0, 0%, 45%, 1);
$grey-10: hsla(0, 0%, 50%, 1);
$grey-11: hsla(0, 0%, 55%, 1);
$grey-12: hsla(0, 0%, 60%, 1);
$grey-13: hsla(0, 0%, 65%, 1);
$grey-14: hsla(0, 0%, 70%, 1);
$grey-15: hsla(0, 0%, 75%, 1);
$grey-16: hsla(0, 0%, 80%, 1);
$grey-17: hsla(0, 0%, 85%, 1);
$grey-18: hsla(0, 0%, 90%, 1);
$grey-19: hsla(0, 0%, 94%, 1);
$grey-20: hsla(0, 0%, 98%, 1);

$pink-1: hsla(330, 100%, 50%, 1);
$pink-2: hsla(330, 100%, 54%, 1);
$pink-3: hsla(330, 100%, 58%, 1);
$pink-4: hsla(330, 100%, 62%, 1);
$pink-5: hsla(330, 100%, 66%, 1);
$pink-6: hsla(330, 100%, 70%, 1);
$pink-7: hsla(330, 100%, 74%, 1);
$pink-8: hsla(330, 100%, 78%, 1);
$pink-9: hsla(330, 100%, 82%, 1);
$pink-10: hsla(330, 100%, 86%, 1);
$pink-11: hsla(330, 100%, 90%, 1);
$pink-12: hsla(330, 100%, 94%, 1);
$pink-13: hsla(330, 100%, 98%, 1);

$orange-1: hsla(34, 100%, 50%, 1);
$orange-2: hsla(34, 100%, 54%, 1);
$orange-3: hsla(34, 100%, 58%, 1);
$orange-4: hsla(34, 100%, 62%, 1);
$orange-5: hsla(34, 100%, 66%, 1);
$orange-6: hsla(34, 100%, 70%, 1);
$orange-7: hsla(34, 100%, 74%, 1);
$orange-8: hsla(34, 100%, 78%, 1);
$orange-9: hsla(34, 100%, 82%, 1);
$orange-10: hsla(34, 100%, 86%, 1);

$purple-1: hsla(278, 80%, 10%, 1);
$purple-2: hsla(278, 78%, 14%, 1);
$purple-3: hsla(278, 76%, 18%, 1);
$purple-4: hsla(278, 74%, 22%, 1);
$purple-5: hsla(278, 72%, 26%, 1);
$purple-6: hsla(278, 70%, 30%, 1);
$purple-7: hsla(278, 68%, 34%, 1);
$purple-8: hsla(278, 66%, 38%, 1);
$purple-9: hsla(278, 64%, 42%, 1);
$purple-10: hsla(278, 62%, 46%, 1);
$purple-11: hsla(278, 60%, 50%, 1);
$purple-12: hsla(278, 58%, 54%, 1);
$purple-13: hsla(278, 56%, 58%, 1);
$purple-14: hsla(278, 54%, 62%, 1);
$purple-15: hsla(278, 52%, 66%, 1);
$purple-16: hsla(278, 50%, 70%, 1);
$purple-17: hsla(278, 48%, 74%, 1);
$purple-18: hsla(278, 46%, 78%, 1);
$purple-19: hsla(278, 44%, 82%, 1);
$purple-20: hsla(278, 42%, 86%, 1);

$red-1: hsl(0, 100%, 30%);
$red-2: hsl(0, 100%, 32%);
$red-3: hsl(0, 100%, 36%);
$red-4: hsl(0, 100%, 40%);
$red-5: hsl(0, 100%, 44%);
$red-6: hsl(0, 100%, 48%);
$red-7: hsl(0, 100%, 52%);
$red-8: hsl(0, 100%, 56%);
$red-9: hsl(0, 100%, 60%);
$red-10: hsl(0, 100%, 64%);

$white: hsla(0, 0%, 100%, 1);

$yellow-1: hsla(55, 100%, 50%, 1);
$yellow-2: hsla(55, 98%, 52%, 1);
$yellow-3: hsla(55, 96%, 54%, 1);
$yellow-4: hsla(55, 94%, 56%, 1);
$yellow-5: hsla(55, 92%, 58%, 1);
$yellow-6: hsla(55, 90%, 60%, 1);
$yellow-7: hsla(55, 88%, 62%, 1);
$yellow-8: hsla(55, 86%, 64%, 1);
$yellow-9: hsla(55, 84%, 66%, 1);
$yellow-10: hsla(55, 82%, 68%, 1);
