@use 'src/common/styles/mixins/breakpoints';
@use 'src/common/styles/variables/colors';

$transition-speed: 200;
$-transition: transform #{$transition-speed}ms ease-in-out;

.menu {
    position: absolute;
    z-index: 1;
    inset: 0;
    width: 50vw;
    height: 100vh;
    background-color: colors.$white;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
}

.menu:global(.enter) {
    transform: translateX(-100%);
}

.menu:global(.enter-done) {
    transform: translateX(0);
    transition: $-transition;
}

.menu:global(.exit) {
    transform: translateX(-100%);
    transition: $-transition;
}

.menu header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    border-bottom: solid 1px colors.$grey-16;
}

.menu header a {
    width: 100%;
}

.menu__content {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
}

.menu-group {
    display: flex;
    flex-direction: column;
}

.menu-group__heading {
    font-weight: bold;
    text-transform: uppercase;
}

.nav-list {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin: 0 0.5em;
    padding: 0.5em;
}

.nav-list__item {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-list__item a {
    display: flex;
}

@include breakpoints.select('sm') {
    .menu {
        width: 100vw;
    }
}

:export {
    transition-speed: $transition-speed;
}
