.heading-1 {
    font-weight: 700;
    font-size: 3rem;
    margin: 0;
}

.heading-2 {
    font-weight: 600;
    font-size: 2rem;
    margin: 0;
}

.heading-3 {
    font-size: 1.4rem;
    margin: 0;
}

.heading-4 {
    font-size: 1.2rem;
    margin: 0;
}

.heading-5 {
    font-size: 1.2rem;
    margin: 0;
}

.heading-6 {
    font-size: 1.2rem;
    margin: 0;
}
