.footer {
    grid-area: _footer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
    gap: 1em;
    padding: 2em;
}

.footer nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 1em;
    padding: 0;
    margin: 0;
}

.list__item {
    padding: 0.5em;
    font-weight: bold;
}

.list__item a {
    text-decoration: none;
    color: currentColor;

    &:hover {
        text-decoration: underline;
    }
}
