.item {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 0.5em;
}

.item--reverse {
    flex-direction: row-reverse;
}

.item__icon {
    display: flex;
    align-items: center;
}

.item__content {
    display: flex;
    align-items: center;
}
